<footer class="bg-dark text-white">
        <div class="container py-1">
          <div class="row py-1">
          </div>
          <div class="border-top pt-3" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="col-lg-5">
                <p class="small text-muted mb-0">&copy; 2021 All rights reserved.</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <a class="text-white reset-anchor" href="https://www.youtube.com/vijaythapa" target="_blank">Ihza Jewelry</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>